<div class="container">
  <h3>Message Log</h3>
  <mat-toolbar color="accent">
    <button
      mat-icon-button
      (click)="onRunClick()"
      [disabled]="running"
      matTooltip="start"
    >
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="onStopClick()"
      [disabled]="!running"
      matTooltip="stop"
    >
      <mat-icon>pause</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="onClearClick()"
      [disabled]="!dirty"
      matTooltip="clear"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </mat-toolbar>
</div>
